*{
  margin: 0px;
  padding: 0px;
 }

p {
	padding: 15px 10px;
	position: relative;
}

.mainBlock {
	display: flex;
	justify-content: center;
}

.mainHeader {
	font-size: 2em;
    font-weight: bold;
	width: 50%;
	margin-top: 2vh;
}

.bodyBack {
	height: 700px;
	background: #dbdbdb;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.price {
	position: relative;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	margin: 24px 12px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.priceHeader {
	height: 30px;
	width: 100px;
	position: relative;
	color: grey;
    font-size: 1.3em;
	bottom: 115px;
	background: white;
	margin: auto;
}

.optimalHeader p {
	padding: 27.5px 10px;
}

/* ---------------------------- */

.bodyBlock {
	display: flex;
	width: 70%;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

/* ---------------------------- */

.basicBlock {
	height: 600px;
	width: 25%;
	background: white;
	margin: auto;
}

.basicHeader {
	height: 70px;
	width: 25%;
	background: #49b0ff;
	color: white;
	font-size: 2em;
	text-align: center;
	position: absolute;

}

.basicTriangle {
	width: 0; 
	height: 0;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-top: 16px solid #49b0ff;
	margin: auto;
}

.basicInfoText {
	margin-top: 85px;
	margin-left: 2px;
	margin-right: 2px;
	padding: 10px;
	overflow: auto;
    height: 200px;
}

/* ---------------------------- */

.optimalBlock {
	height: 650px;
	width: 25%;
	background: white;
	margin: auto;
}

.optimalHeader {
	height: 95px;
	width: 25%;
	background: orange;
	color: white;
	font-size: 2em;
	text-align: center;
	position: absolute;

}

.optimalTriangle {
	width: 0; 
	height: 0;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-top: 16px solid orange;
	margin: auto;
}

.optimalInfoText {
	margin-top: 110px;
	margin-left: 2px;
	margin-right: 2px;
	padding: 10px;
	overflow: auto;
    height: 200px;
}



/* ---------------------------- */

.premiumBlock {
	height: 600px;
	width: 25%;
	background: white;
	margin: auto;
}

.premiumHeader {
	height: 70px;
	width: 25%;
	background: #49b0ff;
	color: white;
	font-size: 2em;
	text-align: center;
	position: absolute;

}

.premiumTriangle {
	width: 0; 
	height: 0;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-top: 16px solid #49b0ff;
	margin: auto;
}

.premiumInfoText {
	margin-top: 85px;
	margin-left: 2px;
	margin-right: 2px;
	padding: 10px;
	overflow: auto;
    height: 200px;
}