*{
  margin: 0px;
  padding: 0px;
 }

fieldset {
	border-color: lightgrey;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    margin: 20px 12px;
    text-align: center;
    font-size: 1.5em;
}

legend {
	color: grey;
    font-size: 0.8em;
}

h1 {
	text-align: center;
	font-size: 1.5em;
	padding: 30px 0px 0px;
}

input {
	height: 30px;
	width: 120px;
    padding: 5px 15px;  
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #03db00, #00c123);
    box-shadow: 0px 0px 0px 0.5px rgba(0, 0, 0, 0.3);
    text-shadow:0 1px 1px white;
}

.mainBlock {
	display: flex;
	justify-content: center;
}

.mainHeader {
	font-size: 2em;
    font-weight: bold;
	width: 50%;
	margin-top: 2vh;
}

.bodyBackground {
	height: 700px;
	background: #dbdbdb;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.bodyBlock {
	display: flex;
	width: 70%;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.price {
	margin-bottom: 10px;
    font-weight: bold;
}

.priceHeader {
	height: 30px;
	width: 100px;
	position: relative;
	color: grey;
    font-size: 1.3em;
	bottom: 115px;
	background: white;
	margin: auto;
}

.orderButton {
	margin-top: 50px;
	text-align: center;
}

/* ---------------------------- */

.optimalBlock .orderButton {
	margin-top: 70px;
	text-align: center;
}

.optimalBlock .blockHeader {
	height: 95px;
	background: orange;
	color: white;
	font-size: 2em;
	text-align: center;
}

.optimalBlock .blockTriangle {
	width: 0; 
	height: 0;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-top: 16px solid orange;
	margin: auto;
}

.optimalBlock .blockHeader p {
	padding: 27.5px 10px;
}

.optimalBlock .blockLowerUpper {
	background: orange;
}

.optimalBlock .blockLowerUpper:after {
	border-top: 10px solid orange;
}

.optimalBlock h1 {
	padding: 23px 0px 0px;
}

.premiumBlock h1 {
	padding: 23px 0px 0px;
}

.authorStar p {
	position: absolute;
	padding: 0px 0px 0px 30px;
    text-align: center;
}

.authorStar img {
	position: absolute;
	padding: 2px 0px 0px 13px;
}

/* ---------------------------- */

.basicBlock {
	height: 600px;
	width: 300px;
	background: white;
	margin: auto;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.optimalBlock {
	height: 650px;
	width: 300px;
	background: white;
	margin: auto;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.premiumBlock {
	height: 600px;
	width: 300px;
	background: white;
	margin: auto;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/* ---------------------------- */

.blockHeader {
	height: 70px;
	background: #49b0ff;
	color: white;
	font-size: 2em;
	text-align: center;
}

.blockHeader p {
	padding: 15px 10px;
}

.blockTriangle {
	width: 0; 
	height: 0;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-top: 16px solid #49b0ff;
	margin: auto;
}

.blockInfoText {
	margin-top: 10px;
	margin-left: 2px;
	margin-right: 2px;
	padding: 10px;
	overflow: auto;
    height: 180px;
}

.blockLowerUpper {
	height: 20px; 
	width: 40px;
	background: #49b0ff;
	margin: auto;
	margin-top: 20px;
	position: relative;
	z-index: 1;
}

.blockLowerUpper p{
	padding: 2px;
	text-align: center;
	color: white;
	font-weight: bold;
}
 
.blockLowerUpper:after {
	content: "";
	height: 0; 
	width: 0;
	position: absolute;
	margin-top: auto;
	top: 20px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 10px solid #49b0ff;
}

.blockLower {
	height: 100px; 
	width: 240px;
	background: lightgrey;
	margin: auto;
	margin-top: -10px;
	position: relative;
}
 
.blockLower:after {
	content: "";
	height: 0; 
	width: 0;
	position: absolute; 
	top: 100px;
	border-left: 120px solid transparent;
	border-right: 120px solid transparent;
	border-top: 40px solid lightgrey;
}

.blockLower p {
	text-align: center;
	padding:  5px 10px;
}